@page "/component/create"
@page "/component/edit/{id:int}"


@inject NavigationManager _nav
@inject IComponentRepository _component


<PageTitle>Add Ingredient</PageTitle>

@attribute [Authorize]
<div class="row my-2">
    <h3 class="card-title text-primary mb-3 ml-3">@Title Ingredient</h3>

    <div class="col-10">
        @if (IsLoading)
        {
            <div class="text-center">
                <img src="/images/loading.gif">
            </div>
        }
        else
        {
            <EditForm Model="Component" OnValidSubmit="UpsertComponent">
                <DataAnnotationsValidator />
                <ValidationSummary/>
                <div class="form-group">
                    <label>Name</label>
                    <InputText @bind-Value="Component.Name" class="form-control"></InputText>
                    <ValidationMessage For="()=>Component.Name"></ValidationMessage>
                    <label>Price</label>
                    <InputNumber @bind-Value="Component.Price" class="form-control"></InputNumber>
                    <ValidationMessage For="()=>Component.Price"></ValidationMessage>
                    <label>Unit Of Measure</label>
                    <InputSelect @bind-Value="Component.UoM" class="form-control">
                            @foreach (var uom in UnitsOfMeasure)
                            {
                                @if (uom == Component.UoM)
                                    {
                                        <option value="@uom" selected>@Component.UoM</option>
                                    }
                                else 
                                    {
                                        <option value="@uom">@uom</option>
                                    }
                            }
                    </InputSelect>
                    <ValidationMessage For="()=>Component.UoM"></ValidationMessage>
                    <label>Other</label>
                    <InputTextArea @bind-Value="Component.Other" class="form-control"></InputTextArea>
                    <ValidationMessage For="()=>Component.Other"></ValidationMessage>
                </div>
                <div class="form-group py-2">
                    <button class="btn btn-primary">@Title</button>
                </div>
            </EditForm>
        }
    </div>
</div>


@code {

    [Parameter]
    public int Id { get; set; }

    [CascadingParameter]
    public Task<AuthenticationState> authenticationState { get; set; }

    [Inject]
    UserManager<IdentityUser> userManager { get; set; }

    private string authenticatedUserId;

    private bool IsLoading { get; set; }
    private string Title { get; set; } = "Create";

    private ComponentDTO Component { get; set; } = new ComponentDTO();

    private List<string> UnitsOfMeasure = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        var user = (await authenticationState).User;

        if (user.Identity.IsAuthenticated)
        {
            var authenticatedUser = await userManager.GetUserAsync(user);
            authenticatedUserId = authenticatedUser.Id;
            //   var currentUserEmail = currentUser.Email;

            if (!UnitsOfMeasure.Any())
            {
                UnitsOfMeasure = UtilitiesUoM.GetNameUoM();
            }

        }
        else
        {
            // user is not logged in
        }

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (Id == 0)
            {
                IsLoading = false;
            }
            else
            {
                Title = "Update";
                await LoadComponent();
            }
        }

    }

    private async Task LoadComponent()
    {
        IsLoading = true;
        StateHasChanged();
        Component = await _component.Get(Id);
        IsLoading = false;
        StateHasChanged();
    }


    private async Task UpsertComponent()
    {
        if (Component.Id == 0)
        {
            Component.UserID = authenticatedUserId;
            await _component.Create(Component);
        }
        else
        {
            await _component.Update(Component);
        }
        _nav.NavigateTo("components");
    }

}
