@page "/product/price/{Id:int}"
@inject IComponentRepository _componentRepository
@inject IProductRepository _productRepository
@inject IProductComponentRepository _ProductComponentRepository
@inject NavigationManager _nav
@using Action = Syncfusion.Blazor.Grids.Action

<h3 class="card-title text-primary mb-3 ml-3">Product Price Management</h3>
@if (isLoading)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row border p-2 mb-4">
        <div class="col-11">
            <div class="card-body">
                <h4>@Product.Name</h4>
                <span>
                    @Product.Other
                </span>
            </div>
        </div>
    </div>

    <SfGrid @ref="GridRef" DataSource="@ProductComponents" AllowPaging="true" AllowSorting="true" AllowFiltering="true" Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Cancel"})">
        <GridPageSettings PageSize="5"></GridPageSettings>
        <GridEvents OnActionBegin="OnActionBegin" TValue="ProductComponentDTO"></GridEvents>
        <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="@EditMode.Dialog">
            <Template>
                @{
                    var PC = (context as ProductComponentDTO);
                    <div>
                        <div class="form-row">
                            <div class="col">
                                <label>Category</label>
                                <SfDropDownList TValue="string" TItem="string" @bind-Value="@PC.Category" DataSource="@Category" Enabled="@((PC.Id == 0) ? true : false)">
                                    <DropDownListEvents TValue="string" TItem="string" ValueChange="OnCategoryChange"></DropDownListEvents>
                                </SfDropDownList>
                            </div>
                            <div class="col">
                                <label>Name</label>
                                <SfDropDownList TValue="string" TItem="string" ID="Name" @bind-Value="@(PC.Name)" DataSource="@NameSource" Enabled="@((PC.Id == 0) ? true : false)">
                                    <DropDownListEvents TValue="string" TItem="string" ValueChange="OnNameChange"></DropDownListEvents>
                                </SfDropDownList>
                            </div>
                            <div class="col">
                                <label>Amount</label>
                                <SfNumericTextBox ID="Amount" @bind-Value="@(PC.Amount)"></SfNumericTextBox>
                            </div>
                            <div class="col">
                                <label>UoM</label>
                                <SfDropDownList TValue="string" TItem="string" ID="UoM" @bind-Value="@(PC.UoM)" DataSource="@ValidUoM">
                                </SfDropDownList>
                            </div>
                        </div>
                    </div>
                }
            </Template>
        </GridEditSettings>

        <GridAggregates>
            <GridAggregate>
                <GridAggregateColumns>
                    <GridAggregateColumn Field=@nameof(ProductComponentDTO.Price) Type="AggregateType.Sum" Format="N2">
                        <FooterTemplate>
                            @{
                                var aggregate = (context as AggregateTemplateContext);
                                <div>
                                    <p>Sum: @aggregate.Sum</p>
                                </div>
                                Product.Cost = double.Parse(@aggregate.Sum);
                            }
                        </FooterTemplate>
                    </GridAggregateColumn>
                    <GridAggregateColumn Field=@nameof(ProductComponentDTO.PriceWastage) Type="AggregateType.Sum" Format="N2">
                        <FooterTemplate>
                            @{
                                var aggregate = (context as AggregateTemplateContext);
                                <div>
                                    <p>Sum: @aggregate.Sum</p>
                                </div>
                                Product.CostWastage = double.Parse(@aggregate.Sum);
                            }
                        </FooterTemplate>
                    </GridAggregateColumn>
                </GridAggregateColumns>
            </GridAggregate>
        </GridAggregates>

        <GridColumns>
            <GridColumn Field=@nameof(ProductComponentDTO.Name) HeaderText="Name" IsPrimaryKey="true" AllowEditing="false"></GridColumn>
            <GridColumn Field=@nameof(ProductComponentDTO.Category) HeaderText="Category" AllowEditing="false" ValidationRules="@(new ValidationRules{ Required= true })"></GridColumn>
            <GridColumn Field=@nameof(ProductComponentDTO.Amount) HeaderText="Amount" Format="N1" ValidationRules="@(new ValidationRules{ Required= true })"></GridColumn>
            <GridColumn Field=@nameof(ProductComponentDTO.UoM) HeaderText="UoM" ValidationRules="@(new ValidationRules{ Required= true })"></GridColumn>
            <GridColumn Field=@nameof(ProductComponentDTO.Price) HeaderText="Price" AllowEditing="false" Format="N2"></GridColumn>
            <GridColumn Field=@nameof(ProductComponentDTO.PriceWastage) HeaderText="Price(Wastage)" AllowEditing="false" Format="N2"></GridColumn>
        </GridColumns>
    </SfGrid>


    <button class="btn btn-primary" @onclick="()=>Save(Id)">Save</button>
}

@code {
    [Parameter]
    public int Id { get; set; }
    private ProductDTO Product { get; set; } = new();
    private IEnumerable<ComponentDTO> Components { get; set; } = new List<ComponentDTO>();
    private IEnumerable<ProductDTO> Products { get; set; } = new List<ProductDTO>();
    private IEnumerable<ProductComponentDTO> ProductComponents { get; set; } = new List<ProductComponentDTO>();
    private List<string> Category = new List<string>() { "ingredient", "product" };
    private bool isLoading { get; set; } = true;
    private List<string> NameSource = new List<string>();
    private SfGrid<ProductComponentDTO> GridRef;
    private List<string> ValidUoM = new List<string>();
    private List<string> ProductSelect = new List<string>();
    private List<string> IngredientSelect = new List<string>();

    [Inject]
    UserManager<IdentityUser>
    userManager
    { get; set; }
    [CascadingParameter]
    public Task<AuthenticationState> authenticationState { get; set; }
    private string authenticatedUserId;

    private List<string> UnitsOfMeasure = new List<string>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var user = (await authenticationState).User;
        if (firstRender)
        {
            isLoading = true;
            StateHasChanged();
            Product = await _productRepository.Get(Id);
            ProductComponents = await _ProductComponentRepository.GetAll(Id);
            var authenticatedUser = await userManager.GetUserAsync(user);
            authenticatedUserId = authenticatedUser.Id;
            Components = await _componentRepository.GetAll(authenticatedUserId);
            Products = await _productRepository.GetAll(authenticatedUserId);
            isLoading = false;

            if (!UnitsOfMeasure.Any())
            {
                UnitsOfMeasure = UtilitiesUoM.GetNameUoM();
            }

            foreach (var pc in ProductComponents)
            {
                GetProperty(pc);
            }
            UpdateSelect();
            StateHasChanged();
        }
    }

    private void GetProperty(ProductComponentDTO component)
    {
        component.ProductId = Id;
        if (component.ComponentIngredientId != null)
        {
            var ingredient = Components.FirstOrDefault(c => c.ComponentId == component.ComponentIngredientId);
            if (ingredient != null)
            {
                component.Name = ingredient.Name;
                component.Category = "ingredient";
                component.FromUoM = ingredient.UoM;
                component.FromPrice = ingredient.Price;
                component.FromPriceWastage = Math.Round(ingredient.Price * 100 / (100 - ingredient.Wastage), 2);
                component.Price = CalculatePrice(component.FromUoM, component.UoM, component.FromPrice, component.Amount);
                component.PriceWastage = CalculatePrice(component.FromUoM, component.UoM, component.FromPriceWastage, component.Amount);
            }
        }
        else if (component.ComponentProductId != null)
        {
            var product = Products.FirstOrDefault(p => p.Id == component.ComponentProductId);
            if (product != null)
            {
                component.Name = product.Name;
                component.Category = "product";
                component.FromUoM = "each";
                component.FromPrice = product.Cost;
                component.FromPriceWastage = product.CostWastage;
                component.Price = CalculatePrice(component.FromUoM, component.UoM, component.FromPrice, component.Amount);
                component.PriceWastage = CalculatePrice(component.FromUoM, component.UoM, component.FromPriceWastage, component.Amount);
            }
        }
        else
        {
            component.Name = "Not Found";
            component.Category = "Not Found";
        }
        return;
    }

    private void OnCategoryChange(ChangeEventArgs<string, string> args)
    {
        if (args.Value == "ingredient")
        {
            NameSource = IngredientSelect;
        }
        else
        {
            NameSource = ProductSelect;
        }
        GridRef.PreventRender(false);
    }

    private void OnNameChange(ChangeEventArgs<string, string> args)
    {
        GetValidUoM(args.Value);
        GridRef.PreventRender(false);
    }

    public void OnActionBegin(ActionEventArgs<ProductComponentDTO> args)
    {
        var comp = args.Data;
        if (args.RequestType.Equals(Action.Save))
        {
            Console.WriteLine("save");
            comp.ProductId = Product.Id;
            if (comp.Id == 0)
            {
                if (comp.Category == "ingredient")
                {
                    var c = Components.FirstOrDefault(x => x.Name == comp.Name);
                    comp.ComponentIngredientId = c.ComponentId;
                    comp.FromUoM = c.UoM;
                    comp.FromPrice = c.Price;
                    comp.FromPriceWastage = c.Price * 100 / (100 - c.Wastage);
                    Console.WriteLine(comp.FromPriceWastage);
                }
                else
                {
                    var p = Products.FirstOrDefault(x => x.Name == comp.Name);
                    comp.ComponentProductId = p.Id;
                    comp.FromUoM = "each";
                    comp.FromPrice = p.Cost;
                    comp.FromPriceWastage = p.CostWastage;
                }
                comp.Price = CalculatePrice(comp.FromUoM, comp.UoM, comp.FromPrice, comp.Amount);
                _ProductComponentRepository.Create(comp);
            }
            else
            {
                comp.Price = CalculatePrice(comp.FromUoM, comp.UoM, comp.FromPrice, comp.Amount);
                _ProductComponentRepository.Update(comp);
            }
        }
        if (args.RequestType.Equals(Action.Add))
        {
            Console.WriteLine("add");
            ValidUoM.Clear();
        }
        if (args.RequestType.Equals(Action.BeginEdit))
        {
            Console.WriteLine("edit");
            GetValidUoM(comp.Name);
            UpdateSelect();
        }
        if (args.RequestType.Equals(Action.Delete))
        {
            Console.WriteLine("delete");
            _ProductComponentRepository.Delete(comp.Id);
            UpdateSelect();
        }
    }

    private double CalculatePrice(string FromUoM, string ToUoM, double FromUoMPrice, double Amount)
    {
        double Factor = UnitConverter(FromUoM, ToUoM);
        return FromUoMPrice * Factor * Amount;
    }

    private double UnitConverter(string FromUoM, string ToUoM)
    {
        double FromFactor = UtilitiesUoM.GetFactorbyUoMName(FromUoM);
        double ToFactor = UtilitiesUoM.GetFactorbyUoMName(ToUoM);
        return ToFactor / FromFactor;
    }

    private void GetValidUoM(string Name)
    {
        ValidUoM = new List<string>();
        var UoM = "each";
        var comp = Components.FirstOrDefault(x => x.Name == Name);
        if (comp != null)
        {
            UoM = comp.UoM;
        }
        List<UoM> SameCategory = UtilitiesUoM.GetListbyName(UoM);
        foreach (var unit in SameCategory)
        {
            ValidUoM.Add(unit.Name);
        }
        SameCategory.Clear();
    }

    private void UpdateSelect()
    {
        ProductSelect = Products.Where(p => !ProductComponents.Any(c => c.ComponentProductId == p.Id || c.ProductId == p.Id)).Select(p => p.Name).ToList();
        IngredientSelect = Components.Where(p => !ProductComponents.Any(c => c.ComponentIngredientId == p.ComponentId)).Select(p => p.Name).ToList();
    }

    private async void Save(int id)
    {
        await _productRepository.Update(Product);
        _nav.NavigateTo("products");
    }
}
